.App{
  background-image:linear-gradient(rgba(255, 255, 255, 0.657),rgba(255, 255, 255, 0.657));
  font-size:1.75em;
  margin-bottom: 4em;
}
table{
  display:inline-block;
  margin:1em auto;
  border:0;
  border-collapse:collapse;
}
table tr td{
  padding:0.5em 1em;
}
header{
  width:60%;
  margin: 0 auto;
  padding:1em 0;
}
h1 a{
  color:black;
  text-decoration: none;
  transition: all 1s ease;
}
h1 a:hover{
  color:crimson;
  text-decoration: underline;
  text-shadow: white 2em 0 5em;
}
/* nav ul{
  list-style-type: none;
  display:flex;
  justify-content: center;
}
nav ul li a{
  padding:1em;
}
nav{
  margin:0 auto;
} */
footer{
  margin-top: 3em;
  padding: 0.5em;
  background-color: rgb(255, 255, 255);
}
tr td > img{
  height: 1em;
  width: auto;
}
#playlist div{
  display:inline-block;
}
#playlist div:hover h2{
  color:crimson;
  text-decoration: underline;
  text-shadow: white 2em 0 5em;
}
#playlist img, #playlist h2{
  padding:0 0;
  margin:0 0;
  transition:all 0.5s ease;
  cursor:pointer;
  display:inline-block;
}
#playlist div> img{
  padding-right:0.5m;
  height:1em;
}
table tr + tr:hover{
  background-color:rgba(255, 255, 255, 0.781);
  /* border:0.1em solid black; */
}
table tr{
  cursor:pointer;
  transition:all 0.5s ease-in-out;
}
.currentlyPlayingSong{
  background-color:rgba(255, 255, 255, 0.781);
}

/* tr button{
  display:inline;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
} */

aside h3{
  text-align:center;
}
aside ul li{
  margin: 0.5em 0;
  cursor:pointer;
}
aside li:hover{
  text-decoration: line-through;
}
aside button{
  display:block;
  width:auto;
  margin:0 auto;
}
aside{
  position:fixed;
  right:0;
  top:0;
  width:20%;
  text-align:left;
  padding:0.25em 0.75em 0.25em 0.75em;
  background-color:white;
  border-bottom:0.3em solid rgba(0,0,0,0.4);
  border-left:0.3em solid rgba(0,0,0,0.4);
  color:crimson;
  opacity: 0.85;
  transition:all 0.5s ease;
  font-size: 0.75em;
}
aside:hover{
  opacity:1;
}